<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>/view/register.jsp</welcome-file>
    </welcome-file-list>
    <!-- add servlet -->
    <servlet>
        <servlet-name>add</servlet-name>
        <servlet-class>com.epam.app.controller.AddServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>add</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>

    <!-- list servlet -->
    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>com.epam.app.controller.ListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>

    <!-- bookslist servlet -->
    <servlet>
        <servlet-name>bookslist</servlet-name>
        <servlet-class>com.epam.app.controller.BookListController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>bookslist</servlet-name>
        <url-pattern>/BookListView</url-pattern>
    </servlet-mapping>


    <!-- register servlet -->
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>com.epam.app.controller.RegisterUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/RegisterNewUser</url-pattern>
    </servlet-mapping>

</web-app>